<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>files.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg%n</pattern>
        </layout>
    </appender>
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>

</configuration>